[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-swagger = "*"
requests = "*"
mysqlclient = "*"
docutils-python3 = "*"
pillow = "*"

[requires]
python_version = "3.8"
