  <div class="site-section feature-blocks-1 no-margin-top">
    <div class="container">
      <div class="col-12">

        <div *ngIf="error_message" class="alert alert-primary" role="alert">
          {{ error_message }}
        </div>

      </div>
      <div class="row">

        <div *ngFor="let team of teams" class="col-md-6 col-lg-4 p-lg-5 p-5 aos-init aos-animate" data-aos="fade" data-aos-delay="100">

          <div [style.background-image]="team.logo ? 'url( data:image/png;base64,' + team.logo + ')' : 'url(https://domingoasdez.com/images/default-emblem.png);'"
               class="feature-block-1 mb-5 mb-lg-0 bg p-3">
            <div class="text">
              <h2 class="h1 text-white">{{ team.name }}</h2>
              <br>
              <br>
              <br>
              <p class="mb-0"><a routerLink="/equipa/{{ team.name }}" class="btn btn-primary btn-sm px-4 py-2 rounded-0">
                Ver mais
              </a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
