<div class="site-section bg-light" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-first">
      <div class="col-md-12">

        <div *ngIf="error_message" class="alert alert-primary" role="alert">
          {{ error_message }}
        </div>

        <div *ngIf="success_message" class="alert alert-success" role="alert">
          {{ success_message }}
        </div>

        <form [formGroup]="new_players" (ngSubmit)="update ? update_players_game(new_players.value) : add_players_game(new_players.value)" ngNativeValidate method="post" class="bg-white" enctype="multipart/form-data">
          <div class="p-3 p-lg-5 border">

            <div class="form-group row">

              <div *ngIf="is_logged" class="col-md-6 offset-md-6" style="padding-bottom: 3%;">
                <input type="button" class="btn btn-outline-danger btn-block"
                       value="Remover todos os jogadores deste jogo" data-toggle="modal"
                       data-target="#myModal">
              </div>

              <div class="col-12">
                <p>Tem de escolher entre {{ interval_of_players[0] }} e {{ interval_of_players[1] }}
                  jogadores em cada equipa</p>
              </div>

              <div *ngFor="let team of players.teams" class="col-md-6 p-3">
                <h1>
                  {{ team }}
                </h1>
              </div>

              <div class="col-12">
                <div *ngFor="let id_player of array_loop" class="col-12 row" >
                  <div *ngFor="let id_team of [0, 1]" class="col-md-6 p-3" formArrayName="{{teams[id_team]}}">
                    <label for="" class="text-black">
                      <label for="player_{{ id_team }}_{{ id_player }}">Jogador {{ id_player + 1 }}:</label></label><br>
                    <select [formControlName]="id_player" class="form-control" id="player_{{ id_team }}_{{ id_player }}"
                    [ngModel]="update && players_game[id_team][id_player] ? players_game[id_team][id_player] : ''">
                      <option value="">Escolha um jogador</option>

                      <option *ngFor="let player of players.players[id_team]" value="{{ player[1] }}" >{{ player[0] }}</option>

                    </select>

                    <div class="text-danger">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-lg btn-block"
                       value="{{ title }}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
